In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_json('cmpt-history.ndjson.gz', lines=True, convert_dates=['date'])

In [6]:
data

,semester,subject,number,section,campus,component,instr_mode,date,enrl_cap,enrl_tot,wait_tot
0,1241,CHIN,191,B100,BRNBY,OLC,P,2023-08-11,25,8,0
1,1241,CHIN,191,B100,BRNBY,OLC,P,2023-09-10,25,8,0
2,1241,CHIN,191,B100,BRNBY,OLC,P,2023-10-10,25,8,0
3,1241,CHIN,191,B100,BRNBY,OLC,P,2023-11-09,25,8,0
4,1241,CHIN,191,B100,BRNBY,OLC,P,2023-11-10,25,8,0
...,...,...,...,...,...,...,...,...,...,...,...
66045,1171,DDP,310,D100,OFFST,SEC,PO,2017-03-03,30,7,0
66046,1171,MACM,101,D100,BRNBY,LEC,P,2017-03-03,175,157,0
66047,1171,MACM,101,D100,BRNBY,LEC,P,2017-05-05,175,157,0
66048,1171,MACM,101,D200,BRNBY,LEC,P,2017-03-03,175,173,0
66049,1171,MACM,101,D300,SURRY,LEC,P,2017-03-03,96,97,0